# Серверная часть
server/node_modules/
server/.env
server/logs/
server/static/*.jpg
server/static/*.png

# Клиентская часть
client/node_modules/
client/.env
client/dist/
client/.vite/
client/src/assets/generated/

# Общие
.DS_Store
Thumbs.db
*.log